@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  font: 3rem;
  background-color: teal;
  padding: 1rem 0;
}

#bodybox {
  width: 90vw !important;
  margin: auto;
  max-width: 60rem;
  font: 1rem arial, sans-serif;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 1rem 0.1rem white;
  border-radius: 1rem;
}

#chatborder {
  border-style: solid;
  background-color: teal;
  box-shadow: 0 0 1rem 0.1rem teal;
  border: 0px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

#botgif {
  width: 30vw;
  max-width: 150px;
  box-shadow: 0 0 1rem 0.1rem white;
}

.chatlog {
  font-family: "Josefin Sans", sans-serif;
  font: 3rem;
  color: white;
}

#chatbox {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem !important;
  height: 3rem;
  width: 100%;
  box-shadow: 0 0 1rem 0.1rem white;
  border: 0px;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

input {
  outline: none;
}

h1 {
  margin: auto;
}

@media all and (max-width: 700px) {
  * {
    box-shadow: 0 0 0 0 transparent !important;
  }
  body {
    font-family: "Josefin Sans", sans-serif;
    font: 3rem;
    background-color: teal;
    padding: 1rem 0;
  }

  #bodybox {
    width: 90vw !important;
    margin: auto;
    max-width: 60rem;
    font: 1rem arial, sans-serif;
    background-color: white;
    padding: 0.5rem;
    padding-top: 0.01rem !important;
    margin-top: 0.01rem !important;
    box-shadow: 0 0 1rem 0.1rem white;
    border-radius: 0.9rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #chatborder {
    border-style: solid;
    background-color: teal;
    box-shadow: 0 0 1rem 0.1rem teal;
    border: 0px;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.9rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0.01rem;
    margin-top: 0.01rem;
  }

  #botgif {
    width: 60vw;
    max-width: 250px;
    box-shadow: 0 0 1rem 0.1rem white;
  }

  .chatlog {
    font-family: "Josefin Sans", sans-serif;
    font: 3rem;
    color: white;
  }

  #chatbox {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem !important;
    height: 3rem;
    width: 100%;
    box-shadow: 0 0 1rem 0.1rem white;
    border: 0px;
    padding: 0.5rem;
    border-radius: 0.8rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
